
<section id="browse" class=" position-relative ">
    <div class="container all-content ">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="artist-img position-relative ">
                    <img src="../assets/images/02.jpg" class="art-img  " alt="">
                    <img src="../assets/images/Prov.png" class="play-list" alt="">
                </div>
            </div>
            <div class="col-md-5 col-sm-12">
                <div>
                    <p>Artist 
                        
                    </p><br>
                    <h2>David Bowie</h2>
                 
                   <div class=" mt-4">
                    <button id="lines" class="w3-bar-item w3-button  rounded-pill  " (click)="openCity('over')">OVER VIEW</button>
                    <button id="lines" class="w3-bar-item w3-button rounded-pill  mx-4" (click)="openCity('about')">ABOUT</button>
                    <button id="lines" class="w3-bar-item w3-button rounded-pill  " (click)="openCity('fans')">FANS ALSO LIKE</button>
                   </div>
                    
                 
                </div>
            </div>
            <div class="col-md-4">
                <div class=" all-icons">
                    <button class="btn btn-primary px-4 rounded-pill">SHUFFLE PLAY
                        
                    </button>
                    <span class="px-3  ">
                        <i class="fa fa-heart-o  " aria-hidden="true"></i>
                    </span>
                    <span class="px-1">
                        <i class="fa fa-ellipsis-h  " aria-hidden="true"></i>
                    </span>
                </div>
            </div>
        </div>
        <h5 class=" mt-5">Popular songs</h5>
        <!-- <div id="veiwContent" class=" position-relative">
            
        </div> -->
<!-- -------------------------------------------------------------------------------------- -->


  
  <div id="over" class="w3-container city d-block">
    <table style="position:relative;" class=" table table-borderless text-white">
        <thead>
            <th>#</th>
            <th >TITLE</th>
            <th >ARTIST</th>
            <th>ALBUM</th>
            <th >TIME</th>
        </thead>
        <tbody  >
            <tr>
                <td>1</td>
                <td>
                    <img src="../assets/images/03.jpg" style="width:30px;height:30px;" alt="">
                    Herous
                </td>
                <td>David Bowie</td>
                <td>Heroes</td>
                <td>6:11
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <img src="../assets/images/04.jpg" style="width:30px;height:30px;" alt="">
                    Live in Mars
                </td>
                <td>David Bowie</td>
                <td>Hankey Dary</td>
                <td>4:44
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="../assets/images/12.jpg" style="width:30px;height:30px;" alt="">
                    Ashes To Ashes
                </td>
                <td>David Bowie</td>
                <td>Scary Monsters</td>
                <td>3:22
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <img src="../assets/images/06.jpg" style="width:30px;height:30px;"  alt="">
                    Star Man
                </td>
                <td>David Bowie</td>
                <td>The Rise and Fall of Ziggy stardust and the spiders from Mars</td>
                <td>3:55
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <img src="../assets/images/05.png" style="width:30px;height:30px;" alt="">
                    changes
                </td>
                <td>David Bowie</td>
                <td>Hunkey Dary</td>
                <td>2:44
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
        </tbody>
        <button class="btn btn-transparent text-white  border-white px-4 rounded-pill" style="position:absolute;left:44%;margin-top:20px;top:100%">SHOW MORE</button>
    </table>
  </div>
  
  <div id="about" class="w3-container city d-none" >
    <h2>About</h2>
    <div class="row">
        <div class="col-md-6">
            <div>
                <img src="../assets/images/12.jpg" class="w-100" alt="">
            </div>
    
        </div>
        <div class="col-md-6">
            <div>
                <p class="lead ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam expedita <br>
                    eligendi laudantium quasi ipsa! Eligendi consectetur quis soluta <br>
                     repellat veniam quidem nesciunt illo eum vel, modi quos quam facere magni.
                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam expedita <br>
                     eligendi laudantium quasi ipsa! Eligendi consectetur quis soluta <br>
                      repellat veniam quidem nesciunt illo eum vel, modi quos quam facere magni
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam expedita <br>
                      
                       </p>
            </div>
    
        </div>
    </div>
  </div>
  
  <div id="fans" class="w3-container city d-none" >
    <table style="position:relative;" class=" table table-borderless text-white">
        <thead>
            <th>#</th>
            <th >TITLE</th>
            <th >ARTIST</th>
            <th>ALBUM</th>
            <th >TIME</th>
        </thead>
        <tbody  >
            <tr>
                <td>1</td>
                <td>
                    <img src="../assets/images/03.jpg" style="width:30px;height:30px;" alt="">
                    Herous
                </td>
                <td>David Bowie</td>
                <td>Heroes</td>
                <td>6:11
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>
                    <img src="../assets/images/04.jpg" style="width:30px;height:30px;" alt="">
                    Live in Mars
                </td>
                <td>David Bowie</td>
                <td>Hankey Dary</td>
                <td>4:44
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>
                    <img src="../assets/images/12.jpg" style="width:30px;height:30px;" alt="">
                    Ashes To Ashes
                </td>
                <td>David Bowie</td>
                <td>Scary Monsters</td>
                <td>3:22
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>4</td>
                <td>
                    <img src="../assets/images/06.jpg" style="width:30px;height:30px;"  alt="">
                    Star Man
                </td>
                <td>David Bowie</td>
                <td>The Rise and Fall of Ziggy stardust and the spiders from Mars</td>
                <td>3:55
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
            <tr>
                <td>5</td>
                <td>
                    <img src="../assets/images/05.png" style="width:30px;height:30px;" alt="">
                    changes
                </td>
                <td>David Bowie</td>
                <td>Hunkey Dary</td>
                <td>2:44
                    <span><i class="fa fa-heart-o px-4" aria-hidden="true"></i></span>
                    <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                </td>
            </tr>
        </tbody>
        <button class="btn btn-transparent text-white  border-white px-4 rounded-pill" style="position:absolute;left:44%;margin-top:20px;top:100%">SHOW MORE</button>
    </table>
  </div>





<!-- -------------------------------------------------------------------------------------------- -->

        
        <div class="all-img">
            <h5 class="album">ALBUMS</h5>
            <div class="row  ">
            
                <div class="col-md-2 col-sm-12">
                    <div >
                        <img src="../assets/images/05.png" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/04.jpg" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/06.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/01.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/12.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/artist_img.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
            </div>
            <div class="row all-img-2 ">
                <div class="col-md-2 col-sm-12">
                    <div >
                        <img src="../assets/images/05.png" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/04.jpg" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/06.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/01.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/12.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/artist_img.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-transparent border-white px-4 rounded-pill text-white">SHOW MORE</button>
        </div>
        <div class="all-imgs mt-5">
            <h5 class="album">singels & EPs</h5>
            <div class="row  ">
            
                <div class="col-md-2 col-sm-12">
                    <div >
                        <img src="../assets/images/05.png" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/04.jpg" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/06.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/01.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/12.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/artist_img.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
            </div>
            <div class="row all-img-2 ">
                <div class="col-md-2 col-sm-12">
                    <div >
                        <img src="../assets/images/05.png" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/04.jpg" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/06.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/01.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/12.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/artist_img.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-transparent border-white px-4 rounded-pill text-white">SHOW MORE</button>
        </div>
        <div class="all-imgs mt-5">
            <h5 class="album">Appears in these playlist</h5>
          
            <div class="row all-img-2 ">
                <div class="col-md-2 col-sm-12">
                    <div >
                        <img src="../assets/images/05.png" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/04.jpg" class="w-100" alt=""><br>
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/06.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/01.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/12.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div>
                        <img src="../assets/images/artist_img.jpg" class="w-100" alt="">
                        <p>Dance</p>
                        <p>Relesed:15/09/2019</p>
                    </div>
                </div>
            </div>
            <button class="btn btn-transparent border-white px-4 rounded-pill text-white">SHOW MORE</button>
        </div>
        
       


          <!-- ----------------------------------------------- slider------------------------------------------------------------>
          <h5 class=" mt-5 mb-2">Fans Also Like</h5>
          <ngx-slick-carousel class="carousel mt-5" 
          #slickModal="slick-carousel" 
          [config]="slideConfig" 
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)">
          
<div ngxSlickItem *ngFor="let slide of slides" class="slide">
<img src="{{ slide.img }}" alt="" style="height: 100px;width: 100px;border-radius: 50%;margin-left: 60px;">
</div>
</ngx-slick-carousel>





          <!-- ---------------------------------------------------------------------------------------------------------------------- -->
    </div>
</section>
